<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" href="style.css">
    <title>Episode Review</title>
</head>

<body>
<div class="container">
<!--    <div class=banner>-->
<!--        <img src="images\Banner.png" alt="iceCreamFlavors" class="hero">-->
<!--    </div>-->
    <header class="header">
        <h1 th:text="${reviewModel.team}" class="h1"></h1>
    </header>

    <main class="main">
<!--        <ul class="review__category__flavor__type">-->
<!--            <li th:text="${reviewModel.team}"></li>-->

<!--        </ul>-->
        <div class ="description">
            <h2 class="type__review">Description</h2>
            <p th:text="${reviewModel.description}"></p>
        </div>
        <div class ="country">
            <h2 class="type__review">Country</h2>
            <p th:text="${reviewModel.country}"></p>
        </div>
        <div class ="theTeam">
            <img th:src="${reviewModel.imgTeam}" alt="The__Team" class="The__Team__image">
        </div>
        <div class ="coach">
            <img src="https://www.shareicon.net/data/128x128/2015/10/03/650430_users_512x512.png" alt="Coach Image">
            <h3>Coach: </h3>
            <p th:text="${reviewModel.coach}"></p>

        </div>
        <h2 class="type__review">Review</h2>
        <p th:text="${reviewModel.review}"></p>



        <!-- LIKE by heart-->
        <section id="like" class="rating">
            <!-- FIFTH HEART -->
            <input type="radio" id="heart_5" name="like" value="5" />
            <label for="heart_5" title="Five">&#10084;</label>
            <!-- FOURTH HEART -->
            <input type="radio" id="heart_4" name="like" value="4" />
            <label for="heart_4" title="Four">&#10084;</label>
            <!-- THIRD HEART -->
            <input type="radio" id="heart_3" name="like" value="3" />
            <label for="heart_3" title="Three">&#10084;</label>
            <!-- SECOND HEART -->
            <input type="radio" id="heart_2" name="like" value="2" />
            <label for="heart_2" title="Two">&#10084;</label>
            <!-- FIRST HEART -->
            <input type="radio" id="heart_1" name="like" value="1" />
            <label for="heart_1" title="One">&#10084;</label>
        </section>

    <div class="return">
        <p><a href="/reviews">Return to All Reviews</a></p>
    </div>
    </main>

    <footer class="footer">
        <small>@copy Samuel Leiva 2022</small>
    </footer>
</div>
</body>

</html>