<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" href="style.css">
    <title>Episode Review</title>
</head>

<body>
<div class="container">
    <div class=banner>
        <img src="images\Banner.png" alt="iceCreamFlavors" class="hero">
    </div>
    <header class="header">
        <h1 th:text="${reviewModel.team}" class="h1"></h1>
    </header>

    <main class="main">
        <ul class="review__category__flavor__type">
            <li th:text="${reviewModel.team}"></li>

        </ul>
        <h2 class="type__review">Review</h2>
        <p th:text="${reviewModel.review}"></p>
        <img th:src="${reviewModel.image}" alt="iceCreamType" class="IceCream__image">


        <p><a href="/reviews">Return to All Reviews</a></p>
    </main>

    <footer class="footer">
        <small>@copy Samuel Leiva 2022</small>
    </footer>
</div>
</body>

</html>